@using DbNetSuiteCore.Helpers
@using DbNetSuiteCore.Services.Interfaces
@using System.Data
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model DbNetSuiteCore.Models.Configuration.DbNetGridConfiguration
<table class="grid-table">
    <thead>
        <tr>
            @foreach (DataColumn column in Model.PageData.Columns)
            {
                <th @Html.CellHeadingAttributes(column, Model.Columns)>
                    @Html.Raw(Html.CellHeading(column, Model))
                </th>
            }
        </tr>

        @if (Model.Columns.Any(gc => gc.DropDownFilter && gc.Lookup != ""))
        {
            <tr>
                @foreach (DataColumn column in Model.PageData.Columns)
                {
                    <td>
                    @{
                        var options = Html.DropDownListFilter(column, Model);
                        if (options != null)
                        {
                            @Html.DropDownList(column.ColumnName, options, "Please select");
                        }
                    }
                </td>
                }
            </tr>
        }
    </thead>
    <tbody>
        @if (Model.PageData.Rows.Count == 0)
        {
            <tr>
                <td colspan="@Model.PageData.Columns.Count">No records found</td>
            </tr>
        }
        else
        {
            @foreach (DataRow row in Model.PageData.Rows)
            {
                <tr>
                    @foreach (DataColumn column in Model.PageData.Columns)
                    {
                        <td @Html.CellAttributes(column, Model.Columns)>
                            @Html.Raw(Html.CellValue(row, column, Model.Columns))
                        </td>
                    }
                </tr>
            }
        }
    </tbody>
</table>