@namespace DbNetSuiteCore.Views.DbNetGrid
@using DbNetSuiteCore.Enums
@using DbNetSuiteCore.Helpers
@using DbNetSuiteCore.Models.DbNetGrid;
@using DbNetSuiteCore.ViewModels.DbNetGrid
@using DbNetSuiteCore.Models
@using System.Data
@using System.Linq
@using Microsoft.AspNetCore.Html
@model ViewDialogViewModel

<table class="view-content-table">

    @{
        List<KeyValuePair<GridColumn, DataColumn>> fields = new List<KeyValuePair<GridColumn, DataColumn>>();
        @foreach (DataColumn dataColumn in Model.ViewData.Columns)
        {
            GridColumn gridColumn = Model.Columns.First(c => c.IsMatch(dataColumn.ColumnName));
            if (gridColumn.View == false)
            {
                continue;
            }
            fields.Add(new KeyValuePair<GridColumn, DataColumn>(gridColumn, dataColumn));
        }
        int remainder = fields.Count % Model.LayoutColumns;
        int rows = Math.Abs(fields.Count / Model.LayoutColumns) + (remainder == 0 ? 0 : 1);
        DataRow dataRow = Model.ViewData.Rows[0];
    }
    <tbody>
        @for (int r = 0; r < rows; r++)
        {
            <tr class="view-content-row">
                @for (int c = 1; c <= Model.LayoutColumns; c++)
                {
                    int i = r + ((c - 1) * rows);
                    @if (i < fields.Count)
                    {
                        GridColumn gridColumn = fields[i].Key;
                        DataColumn dataColumn = fields[i].Value;

                        <td class="view-dialog-label">@(gridColumn.Label)</td>
                        <td data-type="@gridColumn.DataType" style="@gridColumn.Style" data-value="@(dataRow.ItemArray[gridColumn.Index])">
                            <div class="view-dialog-value" data-columnname="@dataColumn.ColumnName" data-dbdatatype="@gridColumn.DbDataType">
                                @if (gridColumn.DataType == "Byte[]")
                                {
                                    if (gridColumn.Download)
                                    {
                                        <button type="button" class="download">&nbsp;</button>
                                    }
                                    else if (gridColumn.Image)
                                    {
                                        <img class="image" />
                                    }
                                }
                                else
                                {
                                    @CellValue(dataRow.ItemArray[gridColumn.Index], gridColumn)
                                }
                            </div>
                        </td>
                    }
                }
                @if (remainder > 0)
                {
                    for (int i = 0; i < Model.LayoutColumns - remainder; i++)
                    {
                        <td colspan="2"></td>
                    }
                }
            </tr>
        }
    </tbody>
</table>
@functions
{
    public HtmlString CellValue(object dataValue, GridColumn column)
    {
        if (dataValue == null || dataValue == System.DBNull.Value)
        {
            return new HtmlString("&nbsp;");
        }

        if (string.IsNullOrEmpty(column.Lookup) == false && column.LookupColumns > 1)
        {
            DataTable lookupTable = Model.LookupTables[column.ColumnKey];
            foreach (DataRow row in lookupTable.Rows)
            {
                if (row[0].ToString() == dataValue.ToString())
                {
                    return new HtmlString(row[1].ToString());
                }
            }
        }

        if (column.DataType == nameof(DateTime))
        {
            return new HtmlString(Convert.ToDateTime(dataValue).ToString(column.Format));
        }

        if (column.DataType == nameof(Boolean))
        {
            switch (Model.BooleanDisplayMode)
            {
                case BooleanDisplayMode.Checkbox:
                    return new HtmlString("&nbsp;");
                case BooleanDisplayMode.YesNo:
                    return new HtmlString(BooleanHelper.YesNo(dataValue.ToString()));
            }
        }

        if (column.IsNumeric)
        {
            return new HtmlString(Convert.ToDecimal(dataValue).ToString(column.Format));
        }

        return new HtmlString(dataValue.ToString());
    }


    public static int PrimaryKeyIndex(DataColumnCollection columns, List<GridColumn> gridColumns)
    {
        foreach (DataColumn column in columns)
        {
            GridColumn gridColumn = gridColumns.First(c => c.IsMatch(column.ColumnName));
            if (gridColumn.PrimaryKey)
            {
                return gridColumn.Index;
            }
        }
        return -1;
    }

    public string CellClass(object dataValue, GridColumn column)
    {
        List<string> classeNames = new List<string>();

        if (column.DataType == nameof(Boolean) && Model.BooleanDisplayMode == BooleanDisplayMode.Checkbox)
        {
            classeNames.Add($"{Convert.ToBoolean(dataValue).ToString().ToLower()}-icon-cell");
        }

        if (column.DataType == "Byte[]")
        {
            classeNames.Add($"download");
        }

        if (classeNames.Count() == 0)
        {
            return null;
        }

        return string.Join(" ", classeNames.ToArray());
    }
}
